# Ignore everything except specified files and directories
*

# Un-ignore the following
!/.gitignore
!/deploy-*.sh
!/README.md

# Un-ignore directories and their contents
!/halelab/
!/halelab/**
!/k8s/
!/k8s/**